.pokemon-list-title {
  text-align: center;
}

.selected {
  background-color: #7f7f7f;
}

.pokemon-list-loading {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.pokemon-list-container {
  text-align: center;
  margin-bottom: 2vh;
}

.pokemon-list-left, .pokemon-list-right {
  cursor: pointer;
  display: inline-block;
  width: 45%;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blue;
}

.start-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
