<h1 class="pokemon-list-title">Choose two pokemons!</h1>

<div>
  <img class="pokemon-list-loading" *ngIf="loading" src="https://i.ya-webdesign.com/images/loading-gif-png-5.gif"/>
</div>

<div *ngIf="!loading" class="pokemon-list-container">
  <div class="pokemon-list-left">
    <div class="pokemon-list">
      <div *ngFor="let pokemon of pokemons">
        <img (click)="selectFirstPokemon(pokemon)" [ngClass]="{ selected: firstPokemon === pokemon }" [attr.src]="pokemon.sprites.front" [attr.alt]="pokemon.name" [attr.title]="pokemon.name"/>
      </div>
    </div>
  </div>

  <div class="pokemon-list-right">
    <div class="pokemon-list">
      <div *ngFor="let pokemon of pokemons">
        <img (click)="selectSecondPokemon(pokemon)" [ngClass]="{ selected: secondPokemon === pokemon }" [attr.src]="pokemon.sprites.front" [attr.alt]="pokemon.name" [attr.title]="pokemon.name"/>
      </div>
    </div>
  </div>
</div>

<div class="start-button-wrapper">
  <button class="start-button" [disabled]="!firstPokemon || !secondPokemon" (click)="start()">Start combat</button>
</div>

<form (ngSubmit)="submitPokemon()">
  <label>Name:</label>
  <input
    name="name"
    type="text"
    required maxlength="12"
    #nameInput="ngModel"
    [(ngModel)]="pokemonToCreate.name"
  ><span [hidden]="!nameInput.errors?.required">Name is required</span><br>
  <label>HP:</label>
  <input
    name="hp"
    type="number"
    required
    #hpInput="ngModel"
    [(ngModel)]="pokemonToCreate.hp"
  ><span [hidden]="!hpInput.errors?.required">hp is required</span><br>
  <label>attack:</label>
  <input
    name="attack"
    type="number"
    required
    #attackInput="ngModel"
    [(ngModel)]="pokemonToCreate.attack"
  ><span [hidden]="!attackInput.errors?.required">attack is required</span><br>
  <label>defense:</label>
  <input
    name="defense"
    type="number"
    required
    #defenseInput="ngModel"
    [(ngModel)]="pokemonToCreate.defense"
  ><span [hidden]="!defenseInput.errors?.required">defense is required</span><br>
  <label>speed:</label>
  <input
    name="speed"
    type="number"
    required
    #speedInput="ngModel"
    [(ngModel)]="pokemonToCreate.speed"
  ><span [hidden]="!speedInput.errors?.required">speed is required</span><br>
  <button type="submit">create a pokemon</button>
</form>
