<div>
  <span>Combat</span>
  <div>First pokemon : {{ firstPokemon.name }}</div>
  <div>Second pokemon : {{ secondPokemon.name }}</div>
  <button (click)="start()" id="startButton">Start combat</button>
  <app-play-button
    [fightState]="fightService.state"
    (onClick)="handlePlay($event)"
    id="pauseButton"
    hidden="true"
  ></app-play-button>

  <div [className]="'battle-screen'">
    <div class="attacker">
      <app-pokemon [pokemon]="firstPokemon" [isAttacker]="true"></app-pokemon>
    </div>
    <div class="defender">
      <app-pokemon [pokemon]="secondPokemon" [isAttacker]="false"></app-pokemon>
    </div>
  </div>

  <p *ngIf="fightService.startDate">
    Start date : {{ fightService.startDate | customDatePipe }}
  </p>
  <p *ngIf="fightService.endDate">
    End date : {{ fightService.endDate | customDatePipe }}
  </p>
  <p *ngIf="winner">Winner is : {{ winner.name }}</p>

  <div class="logs">
    <div
      *ngFor="let log of logs.slice().reverse()"
      [logColor]="log.type"
      [ngSwitch]="log.type"
    >
      <div
        *ngSwitchCase="'damage'"
        [pokemonLogColor]="[log.attacker, log.defender]"
      >
        <p>
          <span class="attackerName">{{ log.attacker.name }}</span> attack
          <span *ngIf="log.isCritical">critically </span
          ><span class="defenderName">{{ log.defender.name }}</span> with
          <span class="attackName">{{ log.attack.name }}</span> and loose
          <span>{{ log.damage | number: '2.2' }}</span
          >HP
        </p>
      </div>

      <div *ngSwitchCase="'end'">
        <p>
          <span class="winnerName">{{ log.winner.name }}</span> won
        </p>
      </div>
    </div>
  </div>
</div>
