.attackName {
  font-weight: bold;
}

.winnerName {
  font-weight: bold;
}

.battle-screen {
  background-image: url("src/assets/battle-screen-background.png");
  background-repeat: no-repeat;
  width: 512px;
  height: 288px;
  position: relative;
}

.attacker {
  position: absolute;
  left: 110px;
  bottom: -20px;
}

.defender {
  position: absolute;
  left: 300px;
  top: 30px;
}

.logs {
  height: 30vh;
  width: 512px;
  border: #000066;
  overflow: auto;
}

